/*global setting*/
html{
  height: 100%;
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*styles for left side*/
.left-side{
  float: left;
  width: 300px;
  height: 100%;
  background-color: #474646;
  color: white;
  padding: 30px;
  position: fixed;
}

.logo-area{
  padding-bottom: 20px;
}

.logo a{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
  display: block;
  width: 100%;
}

.create-note{
  padding-top: 10px;
  padding-bottom: 10px;
}

#create-note{
  display: block;
  width: 80%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 20px;
  font-family: monospace, Helvetica, sans-serif;
  font-weight: bold;
  color: #00A8FF;
  background-color: white;
  border: 1px solid #00A8FF;
}

.menu{
  padding-top: 20px;
}

.category {
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
  padding-top: 10px;
}

.category ul{
  list-style-type: none;
  padding-left: 20px;
}

.category ul li {
  color: #999999;
  padding-top: 10px;
}

.category ul li:hover{
  color: white;
}

/*styles for right side*/

#popup{
  display: none;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  max-height: 1000px;
  max-width: 1000px;
  padding: 15px;
  background-color: #00A8FF;
  color: white;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.9;
}

.right-side{
  margin-left: 300px;
  height: 100%;
  padding: 30px;
  position: relative;
  clear: right;
}

.search-area{
  widows: 100%;
  margin-bottom: 20px;
  /*position: fixed;*/
  z-index: 1000;
}

.search-area form{
  text-align: center;
}

.search-area form input{
  width: 400px;
  height: 60px;
  font-size: 30px;
  font-family: monospace;
  padding: 5px;
}

.list-area{
  padding-top: 20px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.list-block{
  /*padding-bottom: 20px;*/
}

.list-topic{
  color: #00A8FF;
  background-color: #d4d0d0;
  padding-left: 10px;
}

.list-content{
  padding: 30px 50px;
}

/*style for the form to create new note*/

.cat-area{
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}

.cat-option, .table-option{
  padding-bottom: 5px;
  padding-top: 5px;
}

.cat-option span, .table-option span{
  color: #00A8FF;
  font-weight: bold;
  display: inline-block;
  width: 160px;
}

#old-cats, #old-tabs {
  max-width: 500px;
  height: 30px;
  font-size: 15px;
  font-family: monospace, Helvetica, sans-serif;
}

#new-cat, #new-tab{
  width: 250px;
  height: 30px;
  font-size: 15px;
  font-family: monospace, Helvetica, sans-serif;
  padding-left: 10px;
}

.create-area{
  margin-bottom: 30px;
  display: none;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.create-form .list-topic{
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0;
  background-color: white;
}

.create-form textarea{
  display: block;
  width: 90%;
  margin: 20px auto;
}

.button-area{
  margin-top: 20px;
  text-align: center;
}

.button-area button {
  max-width: 300px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 15px;
  font-family: monospace, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #00A8FF;
  border: 1px solid #00A8FF;
}

#update, #update-quit{
  display: none;
}
